<!DOCTYPE html>
<html>
<head>
    <style>
        body { font-family: Arial, sans-serif; }
        table { width: 100%; border-collapse: collapse; margin: 20px 0; }
        th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
        th { background-color: #f4f4f4; }
    </style>
</head>
<body>
    <h1>Reporte de Documentos</h1>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Fecha de creación</th>
                <th>Fecha de Actualización</th>
                <!--<th>Creado</th>-->
            </tr>
        </thead>
        <tbody>
            {% for documento in documentos %}
            <tr>
                <td>{{ documento.titulo }}</td>
                <td>{{ documento.fecha_creacion }}</td>
                <td>{{ documento.fecha_actualizacion }}</td>
                <!--<td>{{ auth.user.nombre_usuario }}</td>-->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
